doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title= title
		link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
		link(type='text/css', rel='stylesheet', href='/stylesheets/angular-material.min.css')
		link(href="/stylesheets/bootstrap.min.css", rel="stylesheet")
		script(type='text/javascript', src='/javascripts/lib/jquery.min.js')
		script(type='text/javascript', src='/javascripts/lib/angular.min.js')
		script(type='text/javascript', src='/javascripts/lib/angular-route.min.js')
		script(type='text/javascript', src='/javascripts/lib/ngStorage.min.js')
		script(type='text/javascript', src='/javascripts/lib/angular-animate.min.js')
		script(type='text/javascript', src='/javascripts/lib/angular-aria.min.js')
		script(type='text/javascript', src='/javascripts/lib/angular-messages.min.js')
		script(type='text/javascript', src='/javascripts/lib/angular-material.min.js')
		script(type='text/javascript', src='/javascripts/app.js')
		script(type='text/javascript', src='/javascripts/controllers.js')
		script(type='text/javascript', src='/javascripts/lib/bootstrap.min.js')

	body(ng-app="myApp")
		div.container-fluid(ng-view)
			